<!DOCTYPE html>
<html lang="en">
<head>
    <title>Workshop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <div class="navbar-header">
        <a class="navbar-brand" href="https://github.com/mariiakolesnyk">Kolesnyk Maria</a>
        <!-- Посилання на репозиторій з кодом !-->
    </div>

    <ul class="navbar-nav" style="width: 100%;">
        <li class="nav-item"><a class="nav-link" href="/user">User</a></li>
        <li class="nav-item"><a class="nav-link" href="/presentation">Presentation</a></li>
        <li class="nav-item"><a class="nav-link" href="/topic">Topic</a></li>
        <li class="nav-item"><a class="nav-link" href="/participant">Participant</a></li>
        <li class="nav-item"><a class="nav-link" href="/correlation">Correlation</a></li>
        {% if current_user.is_authenticated %}
            <li class="nav-item" style="margin-left: auto"><a class="nav-link"
                                                              href="/login">{{ current_user.username }}</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Sign out</a></li>
        {% else %}
            <li class="nav-item" style="margin-left: auto"><a class="nav-link" href="/login">Sign in</a></li>
        {% endif %}
    </ul>

</nav>

<div class="container">

    {% block content %}<h1>Kolesnyk Maria</h1>{% endblock %}

</div>

</body>
</html>