{% extends "index.html" %}

{% block content %}

    {% if error == None %}

    <p><font color="#000000">Для тестових даних = {{ test_data }}</font></p>
    <p><font color="#000000">Прогнозується кількість ітерацій = {{ row }}</font></p>
    <p><font color="#000000">Коефіцієнти регресії - {{ coef }}</font></p>
    <p><font color="#000000">Вільний член регресії - {{ coef1 }}</font></p>
    {% else %}
    <p><font color="#000000">{{ error }}</font></p>
    {%  endif %}


{% endblock %}